.router .button{
    width: 100%;
    padding: 2%;
    font-size: 200%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.router .button div{
    display: flex;
    align-items: center;
}

.router .button .tepmerature {    
    justify-content: space-around;
    width: 60%;
}

div .name{
    width: 20%;
}

.button div h2{
    display: flex;
    align-items: center;
}

.router .button:hover{
    background-color: #00a2ff;
}