.router .button{
    width: 100%;
    padding: 2%;
    font-size: 200%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.router .button div{
    display: flex;
    align-items: center;
}

.router .button .tepmerature {    
    justify-content: space-around;
    width: 60%;
}

div .name{
    width: 20%;
}

.heart{
    margin-right: 10%;
}

.router .button div h2{
    display: flex;
    align-items: center;
}

.router .button:first-child{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.router .button:last-child{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.router .button:hover{
    background-color: #00a2ff;
}