.router .button{
    width: 100%;
    padding: 2%;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.router .button div{
    display: flex;
    align-items: center;
}

.router .button .tepmerature {    
    justify-content: space-around;
    width: 60%;
}

div .name{
    width: 30%;
}

.button div h2{
    display: flex;
    align-items: center;
}

.router .button:hover{
    background-color: #00a2ff;
}

.tepmerature img{
    height: auto;
    width: 50%;
}

@media only screen and (max-width: 1024px){
    .button div h2{
        font-size: 75%;
    }
}

@media only screen and (max-width: 425px){
    .button div h2{
        font-size: 30%;
        padding-right: 10%;
    }

    div .name{
        width: 30%;
        padding-left: 5%;
    }

    .heart{
        width: 5vw;
    }

    main .days div {
        margin-right: 5%;
    }
    
}