.days{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.days div{
    padding: 2%;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 5%;
    margin-right: 5rem;
}

.details-nextWeek{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 3% 0 5% 0;
}

.details-nextWeek div{
    padding: 2% 0% 0 1%;
    width: 18%;
    min-width: fit-content;
    height: 100%;
    border-radius: 25px;
    background-color: #00a2ff;
    color: #FFFFF0;
  }

  .details-nextWeek div h3{
    padding: 5% 0;
    font-size: 150%;
  }