.div-graph{
    width: 90%;
    border: 5px solid #00a2ff; 
    border-radius: 15px;
  }

  .selectType{
    margin-top: 0;
    display: flex;
    justify-content: space-around;
  }

  .selectType p{
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 1% 0;
    font-weight: 700;
  }

  .selectType .active{
    background-color: #00a2ff;
  }

  .air_temperature{
    border-top-left-radius: 8px;
  }

  .cloud_area_fraction{
    border-top-right-radius: 8px;
  }

  .details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 3% 0 5% 0;
  }

  .details div{
    padding: 2% 0% 0 3%;
    width: 15%;
    min-width: fit-content;
    height: 100%;
    border-radius: 25px;
    background-color: #00a2ff;
    color: #FFF;
  }

  .details div h3{
    padding: 5% 0;
    font-size: 150%;
  }