  header img{
    margin: 5% 0;
    width: 15vw;
  }
  
  header .temperature{
    font-size: 500%;
    font-weight: 500;
  }
  
  header .line{
    width: 70%;
    height: 1%;
    border-radius: 15px;
    background-color: #EDEDEF;
    margin: 5% 0 15% 0;
  }
  
  header .date{
    font-size: 300%;
  }
  
  header .cityName{
    font-size: 400;
    font-size: 300%;
    margin-top: 20%;
  }