.days{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
}

.days div{
    padding: 2%;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 5%;
    margin-right: 3rem;
    row-gap: 10rem;
    
}